.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  padding: 12px 51px;
  border: none;

  background-color: var(--color-button);
  color: var(--color-white);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-button);

  transition: background-color 0.3s ease, color 0.3s ease;

  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-button-hover);
  outline: none;
}
