.react-select__control {
  padding: 4px 12px;
  border-radius: 12px;
  min-height: 44px; /* я думаю 144px — це випадково :) */
  border: 1px solid #34ff63;
  width: 254px;
}

.react-select__single-value {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-main);
}

.react-select__placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray);
}

.react-select__option {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.react-select__option--is-selected {
  background-color: #ba8d3b;
  color: white;
}

.react-select__option--is-focused {
  background-color: #e6ffe9;
  color: #101828;
}

.react-select__menu {
  margin-top: 4px;
  border-radius: 12px;
  overflow: hidden;
}

.react-select__menu-list {
  padding: 0;
}
