body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

html,
body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
