.header {
  width: 100%;
  background-color: var(--color-badges);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 24px 0;
}

.navigation {
  display: none;
}

.burgerBtn {
  display: block;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }

  .burgerBtn {
    display: none;
  }
}
